@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&family=Pacifico&display=swap');

.footer {
    display: fixed;
    position: absolute;
    height:40vh;
    width: 100%;

    background-color: #61A5B2;
    overflow: hidden;
}


.f_logo-W {
    font-family: 'Maven Pro', sans-serif;
    font-size: 4vmin;
    position: absolute;
    margin-left: 10vmin;
    padding-top: 7vmin;
}

.f_logo-dog {
    font-size: 8vmin;
    color: white;

}

.f_logo-n {
    position: ;
    left: -7vmin;
    top: 3vmin;
}

.f_con_T{
    position: absolute;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    text-align: left;
    color: white;

    margin-left: 50vmin;
    padding-top: 4vmin;
}


.f_con_T p{
    font-size: 20px;
    text-align: left;
    color: white;
    font-family: 'GmarketSansMedium';
}

.footerimg {
    position: absolute;
    height: 15em;
    margin-top: 9vmin;
    left:130vmin;
}

@media (max-width: 768px) { 
    .f_con_T{
        position: absolute;
        font-family: 'Maven Pro', sans-serif;
        font-size: 20px;
        text-align: left;
        color: white;
    
        margin-left: 57vmin;
        padding-top: 0vmin;
    }
    
    
    .f_con_T p{
        font-size: 10px;
        text-align: left;
        color: white;
        font-family: 'GmarketSansMedium';
    }

    .footerimg {
        position: absolute;
        height: 8em;
        margin-top: 25vmin;
        left:7vmin;
    }
    
}
