@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.home-logo {
position: relative;
top: 2vmin;
 text-align: left;
 margin-left: 7vmin;
}

.home-Sideicon{
    z-index: 1;
}

.maintitle{
    position: relative;
    top: 7rem;
    font-family: 'GmarketSansMedium';
    font-size: 2vmax;

    text-shadow:
    3px 3px 0 white,
    0px -1px 0 white,  
   1px -1px 0 white,
   -1px 1px 0 white,
    1px 1px 0 white;
}

.mainimgdog {
    position: relative;
    left: -40vw;
    z-index: -1;
    top: -100px;
}

.backing {
    position: absolute;
    top: -5rem;
    right: 6rem;
    width: 30vw;
    z-index: -1;
    transform:rotate(20deg)
}

.main2page{
    position: relative;
    background-image: url(/src/img/main_01.jpg);
    background-size: 100rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;

}

.page2bac{
    width: 100%;

}
.main2page-text{
    font-family: 'GmarketSansMedium';
    position: absolute;
    top:30%;
    text-align: left;
    margin-left: 4rem;
    height: 50%;
    width: 50%;
    font-size: 2vmax;
    line-height: 1vmax;
}

.main25page {
    height: 100px;
    position: relative;
    top: -10px;
    background-color: white;
}
.main3page {
    margin-top: -10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.page3bac{
    width: 100%;
    background-image: url(/src/img/play.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
}

.main3page-text{
    font-family: 'GmarketSansMedium';
    font-size: 2vmax;
    text-align: right;
    padding-right: 10vmax;
    padding-top: 20vmax;
    line-height: 1vmax;
}

.main4page{
    overflow: hidden;
    height: 55em;
}

.main4page{
    display:contents;
    justify-content: center;
     width: 90%;
}


.main4page2{
    position:relative;

}

@media (max-width: 768px) {

    .home-logo {
        position: relative;
        top: 2vmin;
         text-align: left;
         margin-left: 6vmin;
        }
        
        .home-Sideicon{
            z-index: 1;
        }

        .dogphoto{
            position: relative;
            left: 50vw;
            top:10vw;
            width: 500px;
            z-index: -15;
            margin-bottom: 10px;
        }
        

        .maintitle{
            position: relative;
            top: 6rem;
            font-family: 'GmarketSansMedium';
            font-size: 2vmax;
        
            text-shadow:
            3px 3px 0 white,
            0px -1px 0 white,  
           1px -1px 0 white,
           -1px 1px 0 white,
            1px 1px 0 white;
        }
        
        .mainimgdog {
            position: relative;
            left: -100vw;
            width: 500px;
            z-index: -1;
            margin-bottom: 10px;
        }
        

        .backing {
            position: absolute;
            top: -2rem;
            right: 2rem;
            width: 30vw;
            z-index: -1;
            transform:rotate(20deg)
        }
        
        .main2page{
            position: relative;
            background-image: url(/src/img/main_01.jpg);
            background-size: 50rem;
            background-attachment: fixed;
            background-repeat: repeat-y;
            background-position: top left;
        
        }
        
        .page2bac{
            width: 100%;
        
        }
        .main2page-text{
            font-family: 'GmarketSansMedium';
            position: absolute;
            top:10%;
            text-align: left;
            margin-left: 3rem;
            height: 50%;
            width: 50%;
            font-size: 10px;
            line-height: 9px;
        }
        
        .main25page {
            height: 100px;
            position: relative;
            top: -10px;
            background-color: white;
        }
        .main3page {
            margin-top: -10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .page3bac{
            width: 100%;
            background-image: url(/src/img/play.jpg);
            background-size: 70rem;
                        background-repeat: repeat-y;
            background-position: bottom left;
        }
        
        .main3page-text{
            font-family: 'GmarketSansMedium';
            font-size: 10px;
            text-align: right;
            padding-right: 5vmax;
            padding-top: 1vmax;
            line-height: 9px;
        }
        
        .main4page{
            position:relative;
            text-align: center;
            overflow: hidden;
             width: 90%;
             height: 20em;
        }


        .main4page2{
            position:relative;
            display : inline-block;
        }


  }