.pc_tab {

}

.mo_tab {
  display: none;
}

.busanmap{
    width: 50em;
}

.text-boxb {
    padding:10px;
}

  .text-box {
    display: flex;
    margin: 30px;
  }

  .styletab {
    margin: -20em;
    overflow: scroll;
    width: 100%;
    font-family: "GmarketSansMedium";
  }

  .placemain {
    font-family: 'GmarketSansMedium';
    font-size: 2vmin;

  }
  
  .Mo-textbox{
    display: none;
  }

  @media (max-width: 768px) { 
    
    .busanmap{
    width: 100%;
}

.styletab {
  width: 100%;
  font-family: "GmarketSansMedium";
}


.Mo-textbox
{display: contents;}

.text-boxb {
  display: none;

}


.pc_tab {
  display: none;
}

.mo_tab {
display: contents;
}


.text-boxb {
    padding:0px;
}

.text-box {
  display: flex;
  margin: 0px;
}

  .styletab {
    overflow: scroll;
    width: 100%;
    font-family: "GmarketSansMedium";

    margin: 0px;

  }

  .placemain {
    font-family: 'GmarketSansMedium';
    font-size: 1vmin;

  }}
