.Wrap {
    padding: 10px;  
}

.RatingText {
color: #787878;
  font-size: 12px;
  font-weight: 400;
}

.Stars {
    color: lightgray;
 margin: auto;
  padding-top: 5px;
}

 .yellowStar {
    color: #61A5B2;
    cursor: pointer;
  }

#namebox {
    border-style: hidden;
    width: 50%;
    padding: 4%;
    border-bottom: 3px solid #61A5B2;
    font-size: 1em;
}

.review label {
    font-family: 'GmarketSansMedium';
    font-size: 3vmax;
}



.review ul{
  text-align:left;

}

.review li {
    font-family: 'GmarketSansMedium';
  display:inline-block;
  margin: 5px;
  padding: 5px;
  color: white
  ;
}

.reviewbig {
    font-family: 'GmarketSansMedium';
  color: #61A5B2;
}


.ckeckreview {
  width: 20%;
  height: 5%;
  padding: 20px;
  background-color: #61A5B2;
  border: none;
  border-radius: 10px;
  margin: 30px;
  font-family: 'GmarketSansMedium';
  transition: all 0.2s;
}

.ckeckreview:hover {

  background-color: #3c6f79;
  color: white;
  border: none;
}



.side_menu li {
  border: none;
}

#textbox {
    border: 3px solid #61A5B2;
    padding: 5%;
    width: 70%;
}

.inputlistun {
  overflow:auto ;
  white-space: nowrap;
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 24rem;
}
.rgyPostIt button {
  border: none;
  display: flex;
  position: relative;
  left:200px;
  transition: all 0.2s;
}

.rgyPostIt button:hover {
background-color: black;
color: white;
}

.rgyPostIt-id {
  display: grid;
  font-size: small;
  text-align: center;
  border-bottom: 2px solid #4c8591;
  padding-bottom: 1em;
}


@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);



.rgyPostIt-text {
 
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3em;
}

.rgyPostIt-star{
  padding-top: 10px;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.8em;
}
.rgyPostIt {
   overflow:auto ;
   height: 15em;
   width: 15em;
    position: relative;
    display: inline-block;
    padding: 20px 5px 20px 15px;
    margin: 10px;
    border: 2px solid #4c8591;
    border-left: 1px solid #61A5B2;
    border-bottom-right-radius: 60px 10px;
    font-family: 'Nanum Pen Script';
    font-size: 1rem;
    color: rgb(46, 46, 46);
    word-break: break-all;
    background: #61A5B2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #61A5B2 81%, #2a4d53 82%, #103036 82%, #61A5B2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #61A5B2), color-stop(82%, #3c6870), color-stop(82%, #3c6870), color-stop(100%, #61A5B2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #61A5B2 81%, #61A5B2 82%, #61A5B2 82%, #61A5B2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #61A5B2 81%, #61A5B2 82%, #61A5B2 82%, #61A5B2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #61A5B2 81%, #61A5B2 82%, #61A5B2 82%, #61A5B2 100%); /* IE10+ */
    background: linear-gradient(135deg, #61A5B2 81%, #61A5B2 82%, #61A5B2 82%, #61A5B2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61A5B2', endColorstr='#61A5B2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

div.rgyPostIt::after {
    content: " ";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 35px;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

div.rgyPostIt:hover {
    border-bottom-right-radius: 75px 30px;
}

div.rgyPostIt:hover::after {
    box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

div.rgyPostIt > p {
    padding: 5px 0 !important;
}

div.rgyPostIt > p::before {
    content:"\f198";
    margin-right: 7px;
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
}

div.rgyPostIt > p > a {
    color: black;
}