.mySwiper{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;

    height: 400px;
  }
  
  .mySwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  .mySwiper .swiper-slide img {
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
  }

  .boxinfo {
   color: #fff;
   position: absolute;
  margin: 20px;
  top: 20px;
  background: rgba(0,0,0,0.5);
  width: auto;
  box-sizing: border-box;
  opacity: 1;
  transition:  0.35s ease-in-out;

  }

  .mySwipermo {
display: none;
  }
  

  @media (max-width: 768px) { 

    .mySwiper{
      display: none;
    }

    .mySwipermo {
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 200px;

    }
    
    .mySwipermo .swiper-slide {
      display: inline;
      position: relative;
      background-position: center;
      height: 150px;

      }
    
      .mySwipermo .swiper-slide img {
      display: block;
        width: auto;
      height: 90%;
      overflow: hidden;
      position: relative;
    }

    .boxinfo {
      color: #fff;
      position: absolute;
     margin: 20px;
     top: 20px;
     background: rgba(0,0,0,0.5);
     width: auto;
     box-sizing: border-box;
     opacity: 1;
     transition:  0.35s ease-in-out;
   
     }

 
    

  }