@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&family=Pacifico&display=swap');

.bimenu{
  font-size: large;
  width: 5em;
  height: 5em;
  color: black;
  display: flex;
  position: relative;
  margin-top: 1em;
  left: -0.5em;
}